@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(252, 243, 248, 1);
  color: rgba(75, 12, 36, 1);
  font-family: "Baloo 2", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.m-header.is-open .m-header-background {
  left: 0;
}
.m-header-button-wrapper {
  margin-left: auto;
}
.m-header-icon {
  display: none;
}

.m-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.m-navigation-list.is-open {
  right: 0;
}
.m-header-icon-menu {
  display: block;
}

.m-header-icon-button.is-open .m-header-icon-menu {
  display: none;
}

.m-header-icon-button.is-open .m-header-icon-close {
  display: block;
}

.m-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(206, 197, 237, 0.5);
}

.m-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(206, 197, 237, 0.5);
}
.m-header.is-open .m-header-background {
  left: 0;
}
.m-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-header-icon-menu {
  display: block;
}

.m-header-icon-button.is-open .m-header-icon-menu {
  display: none;
}

.m-header-icon-button.is-open .m-header-icon-close {
  display: block;
}

.m-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 26px 16px;
  position: relative;
}
.m-title-img {
  width: 209px;
  height: 24px;
}
.m-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 227px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  gap: 12px;
  background: rgba(206, 197, 237, 0.5);
}

.m-navigation-list.is-open {
  right: 0;
}

.m-navigation-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(75, 12, 36, 1);
}

.m-navigation-link:hover,
.m-navigatioт-link:focus {
  font-weight: 700;
}

.m-header.is-open {
  background-color: transparent;
}

.m-navigation-img {
  display: none;
}

@media screen and (min-width: 1119px) {
  .m-navigation-img {
    display: flex;
    width: 357px;
    height: 40px;
    margin-right: 10px;
  }
  .m-policy-terms-header-icon-menu {
    display: none;
  }

  .m-header {
    width: 100%;
    height: 88px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .m-header-background {
  }
  .m-header-icon-button {
    display: none;
  }
  .m-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .m-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 18px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .m-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;

    text-decoration: none;
  }

  .m-navigation-item-desk {
    display: none;
  }
}
.m-home {
  width: 375px;
  height: 631px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40064.png");
  margin: auto;
}
.m-home-container {
  width: 375px;
  padding: 100px 16px 0px;
  margin: auto;
}

.m-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-home-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -3%;
  text-align: center;
  padding-bottom: 308px;
}

.m-home-google-button-image {
  width: 244opx;
  height: 64px;
  box-shadow: 5px 5px 50px 0px rgba(255, 255, 234, 0.1),
    -5px -5px 50px 0px rgba(255, 255, 234, 0.1);
}

.m-home-google-button-link:hover .m-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1119px) {
  .m-home {
    width: 1440px;
    height: 758px;
    background-image: url("/img/home/Frame\ 40065.png");
  }
  .m-home-container {
    width: 1440px;
    padding: 193px 72px 0px;
  }
  .m-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 636px;
  }

  .m-home-title {
    text-align: left;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -3%;
    padding-bottom: 80px;
  }
}
.m-why {
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-image: url("/img/Frame\ 40067.png");
}

.m-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}
.m-why-list {
  padding: 48px 0 32px;
}
.m-why-lists {
  display: none;
}
.m-why-item {
  width: 343px;
  height: 440px;
  border-radius: 32px;
  padding: 16px;
  background: rgba(255, 233, 204, 1);
  margin: 0 5px;
}
.m-why-img {
  margin: auto;
  width: 158px;
  height: 160px;
}
.m-why-text-bold {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -3%;
  text-align: center;
  padding: 8px 0;
}
.m-why-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -3%;
  text-align: center;
}
.m-why-text-q {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -3%;
  padding-top: 16px;
}
@media screen and (min-width: 1119px) {
  .m-why {
    width: 1440px;
    background-image: url("/img/Frame\ 40064\ \(1\).png");
  }
  .m-why-container {
    width: 1440px;
    padding: 100px 72px 0;
  }

  .m-why-list {
    display: none;
  }
  .m-why-lists {
    display: flex;
    padding-top: 56px;
    gap: 24px;
  }
  .m-why-item {
    width: 306px;
    height: 554px;
    border-radius: 32px;
    padding: 24px;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .m-why-item:hover {
    margin-top: -10px;
    box-shadow: 0px 0px 50px 0px rgba(255, 252, 234, 1);
  }
  .m-why-img {
    width: 168px;
    height: 168px;
  }

  .m-why-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
    text-align: center;
  }
  .m-why-text-q {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -3%;

    padding-top: 16px;
  }
}

.m-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 16px 0;
}
.m-uniqueness-text-q {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -3%;
  padding: 48px 0 24px;
}
.m-uniqueness-list {
  padding-bottom: 24px;
}
.m-uniqueness-lists {
  display: none;
}
.m-uniqueness-item {
  width: 343px;
  height: 163px;
  border-radius: 24px;
  padding: 16px;
  margin: 0 5px;
  background: rgba(230, 234, 243, 1);
}
.m-uniqueness-item-two {
  display: flex;
  align-items: center;
  gap: 8px;
}
.m-uniqueness-text-bold {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -3%;
}
.m-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -3%;
  padding-top: 8px;
}

@media screen and (min-width: 1119px) {
  .m-uniqueness-container {
    width: 1440px;
    padding: 0 72px;
  }
  .m-uniqueness-text-q {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    width: 636px;
    padding: 56px 0 16px;
  }
  .m-uniqueness-list {
    display: none;
  }
  .m-uniqueness-lists {
    display: flex;
    gap: 24px;
  }
  .m-uniqueness-item {
    width: 306px;
    height: 290px;
    gap: 8px;
    border-radius: 32px;
    padding: 24px;

    margin: 0;
    background: rgba(230, 234, 243, 1);

    transition: all 0.3s ease-in-out;
  }
  .m-uniqueness-item:hover {
    margin-top: -10px;
    background: rgba(222, 228, 243, 1);
    box-shadow: 0px 0px 50px 0px rgba(255, 252, 234, 1);
  }
  .m-uniqueness-item-two {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .m-uniqueness-text-bold {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
  }
  .m-uniqueness-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;
  }
}

.m-about-container {
  width: 375px;
  padding: 45px 16px 0px;
  margin: auto;
}
.m-about-img {
  margin: 48px 0 24px;
}
.m-about-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -3%;
  text-align: center;
}
.m-about-lists {
  display: none;
}
.m-about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -3%;
  width: 343px;
  height: 176px;
  padding: 16px;
  border-radius: 24px;

  margin: 0 5px;
  background: rgba(240, 238, 249, 1);
}
.slick-dots {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slick-dots li {
  list-style: none;
  width: 24px;
  height: 24px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Ellipse\ 17.png") no-repeat center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/Ellipse\ 15.png") no-repeat center/cover;
}

@media screen and (min-width: 1119px) {
  .m-about {
    width: 1440px;
    height: 708px;
    margin: auto;
    background-image: url("/img/Frame\ 40066.png");
  }
  .m-about-container {
    width: 1440px;
    padding: 40px 72px 0;
  }
  .m-about-img {
    display: none;
  }
  .m-about-title {
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -3%;
    text-align: center;
  }
  .m-about-list {
    display: none;
  }
  .m-about-lists {
    display: flex;
    position: relative;
  }
  .m-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    width: 636px;
    height: 216px;
    border-radius: 32px;
    padding: 16px;
    margin: 0;
    background: transparent;
    position: absolute;
    top: 56px;
    left: 664px;
  }
  .m-about-text-q {
    width: 746px;
    height: 252px;
    top: 296px;
    left: 550px;
    border-radius: 32px;
    padding: 16px;
  }
  .m-about-text-w {
    width: 526px;
    height: 154px;
    top: 394px;
    left: 0;
    gap: 10px;
    border-radius: 32px;
    padding: 16px;
  }
}

.m-characters-container {
  padding: 80px 16px 0;
  margin: auto;
  width: 375px;
}
.m-characters-text-q {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -3%;
  padding: 48px 0 26px;
}
.m-characters-text-w {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -3%;
}
.m-characters-list {
  padding: 24px 0 0px 56px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.m-characters-item {
  display: flex;
  gap: 16px;
}
.m-characters-img {
  width: 24px;
  height: 24px;
}
.m-characters-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -3%;
}

.m-characters-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -3%;
  padding-top: 4px;
}
.m-characters-text-e {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -3%;
  padding-top: 16px;
}
@media screen and (min-width: 1119px) {
  .m-characters {
    width: 1440px;
    height: 1023px;
    margin: auto;
    margin-top: 60px;
    background-image: url("/img/characters/Frame\ 40067\ \(1\).png");
  }
  .m-characters-container {
    padding: 40px 72px 0;
    margin: auto;
    width: 1440px;
  }
  .m-characters-text-q {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    width: 746px;
    padding: 63px 0 32px;
  }
  .m-characters-text-w {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
  }
  .m-characters-list {
    padding: 24px 0 0px 196px;
    display: flex;
    width: 746px;
    flex-direction: column;
    gap: 16px;
  }
  .m-characters-item {
    display: flex;
    gap: 24px;
  }
  .m-characters-img {
    width: 32px;
    height: 32px;
  }
  .m-characters-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
  }

  .m-characters-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -3%;

    padding-top: 8px;
  }
  .m-characters-text-e {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
    width: 750px;
    padding-top: 32px;
  }
}
.m-reviews {
  width: 375px;
  margin: auto;
  background-image: url("/img/Frame\ 40067.png");
}
.m-reviews-container {
  margin: auto;
  padding: 80px 16px 100px;
  width: 375px;
}
.m-reviews-list {
  padding: 48px 0 24px;
}

.m-reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 214px;
  border-radius: 24px;
  padding: 16px;
  background: rgba(248, 210, 231, 1);
}

.m-reviews-text-bold {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -3%;
}

.m-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -3%;
  padding-top: 8px;
}

@media screen and (min-width: 1119px) {
  .m-reviews {
    width: 1440px;
    background-image: url("/img/Frame\ 40064\ \(1\).png");
  }
  .m-reviews-container {
    margin: auto;
    padding: 120px 72px 130px;
    width: 1440px;
  }
  .m-reviews-list {
    padding: 56px 0 40px;
  }

  .m-reviews-item {
    margin: 0 12px;
    width: 526px;
    height: 220px;
    border-radius: 32px;
    padding: 24px;
  }

  .m-reviews-text-bold {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -3%;
  }

  .m-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -3%;
  }
}

.m-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.m-policy-terms-title {
  font-weight: 900;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.m-policy-terms-text {
  padding-top: 20px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.m-policy-terms-texts {
  padding-top: 8px;
}

.m-policy-terms-text-one {
  padding-top: 20px;
}

.m-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.m-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.m-email-link {
  color: inherit;
  text-decoration: none;
}

.m-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1119px) {
  .m-policy-terms-container {
    padding: 186px 72px 60px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .m-policy-terms-title {
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .m-policy-terms-text {
    padding-top: 40px;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .m-policy-terms-text-one {
    padding-top: 30px;
  }

  .m-terms-list {
    padding: 20px 0 20px 25px;
  }
}

.m-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.m-footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.m-footer-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.m-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1119px) {
  .m-footer-container {
    display: flex;
    padding: 24px;
    width: 1440px;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .m-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .m-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.m-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 16px 20px;
  border-radius: 24px;
  background: rgba(206, 197, 237, 1);

  z-index: 1000;
  display: none;
}

.m-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: rgba(75, 12, 36, 1);
}

.m-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.m-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 224, 70, 1);
  width: 128px;
  border-radius: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(75, 12, 36, 1);
}

#accept-cookies {
  background: rgba(255, 224, 70, 1);
}

.m-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.m-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 1119px) {
  .m-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }

  .m-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .m-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .m-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
}
